body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* top part background */

.head-start {
    background-image: url('/images/pattern-bg.png');
    background-position: center;
    height: 30vh;
}

/* container of top part content */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
}

/* WHITE PART WITH THE RESULTS */

.info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 15px 35px hsla(0, 0%, 60%, 0.5);
    margin-top: 40px;
    z-index: 2;
}

.info-container > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0 20px;
}

.bd-gr {
    border-right: 1px solid hsl(0, 0%, 70%);
}

/* MAPITA */

#map {
    height: 70vh; 
    z-index: 1;
}

/* HEADINGS */
h1 {
    color: white;
    margin-bottom: 0 0 20px;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    color: hsl(0, 0%, 59%);
    font-size: 0.8rem;
    margin: 0;
    font-weight: 400;
}

p {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

/* input ip part */
.input-ip {
    display: flex;
    width: 35vw;
}

.input-ip > * {
    padding: 10px 20px;
    border-style: none;
}

.input-ip input {
    width: 100%;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

/* fooooter */
footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 10px;
    width: 50vw;
    margin-left: 25vw;
    background: rgba(255, 255, 255, 0.5)
}

/* BUTTTOOOOOONKS */
button {
    border-radius: 0 10px 10px 0;
    background: black;
    cursor: pointer;
}

button:hover {
    background: hsl(0, 0%, 17%);
}

@media (max-width: 400px) {
    footer {
        margin-left: 0;
    }
}

@media (max-width: 800px) {
   .info-container {
       display: block;
       text-align: center;
       width: 80%;
       margin-top: 20px;
   } 

   .info-container, .input-ip {
       width: 75%;
   }

   .bd-gr {
        border-right-style: none;
        border-radius: 1px solid hsl(0, 0%, 70%);
    }

   .head-start {
       height: 40vh;
   }

   #map {
       height: 60vh;
   }

   p {
       font-size: 1rem;
       margin-bottom: 0;
   }
}

@media (min-width: 1440px) {
    h1 {
        margin-top: 60px;
    }
}